body{
  background-color: #fbf4f438;
}
#linkd{
  border-bottom: 2px solid transparent;
}
#linkd:hover{
  border-bottom: 2px solid red;
}
#wrap{
  width: 530px;
  /* margin: 20px auto 0; */
  height: 750px;
}
#input{
  border: 1px dotted green;
  padding: 2%;
  outline: none;
  width: 80%;
  background-color: white;
  margin-bottom: 15px;
}
#submit{
   float: right;
   width: 120px;
   margin-bottom: 15px;
   /* border: 1px dotted blue; */
   background-color: transparent;
   border-style: none;
}
#form-wrap{
  overflow: hidden;
  height: 447px;
  position: relative;
  top: 0px;
  transition: all 1s ease-in-out .3s;
}
#form-wrap:before{
  content: "";
  position: absolute;
  bottom: 128px;
  left: 0px;
  background: url('../img/before.png');
  width:530px;
  height: 317px;
}
#form-wrap:after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  background: url('../img/after.png');
  width: 530px;
  height: 259px;
}
#form-wrap.hide:after,
#form-wrap.hide:before{
  display: none;
}
#form-wrap:hover{
  height: 800px;
  top: -200px;
}
form{
  background: #f8f9fa;
  position: relative;
  top: 200px;
  overflow: hidden;
  height: 200px;
  width: 450px;
  margin: 0px auto;
  padding: 20px;
  border: 1px dotted red;
  /* border-right: 3px; */
  text-align: center;
  transition: all 1s ease-in-out .3s;
}
#form-wrap:hover form{
  height: 530px;
}
/* #navbarNavAltMarkup{
  margin-left: 65%;
} */
#navanim{
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background: #052035;
}
footer{
  height: 300px;
  margin-top: -5%;
  /* background-image:linear-gradient(45deg,#fff,#f1f2fa); */
  background-image: linear-gradient(#4500ca 4%,rgba(69,0,202,0) 50%),url('img/header2.png'),linear-gradient(60deg,#28005f 16%,#8300e5 64%,#0f3bff 100%);
  box-shadow: 0px 0px 25px 0px rgba(90,87,209,1);
}
.heading{
  height: 100px;
  /* background-color: red; */
}
/* #exclamation{
  margin-top:100px;
  margin-left:30%;
  color:blue;
  font-size: 20px;
  margin-left: 20px;
  animation: up 2s infinite;
}
@keyframes up {
  0%{
    font-size: 10px;
  }
  50%{
    color: green;
    font-size: 25px;
  }
  100%{
    font-size: 30px;
  }
}
#para{
  position: absolute;
  top: 20%;
}
#link{
  position: absolute;
  top: 60%;
  color:#3aaf9f;
  font-size:30px;
  text-decoration:none;
} */
::-webkit-scrollbar{
  width: 0;
}
#scrollPath{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}
#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 3px;
  height: 0%;
  background: linear-gradient(to top,#008aff,#00ffe7);
  animation: scroll 5s linear infinite;
}
@keyframes scroll {
  0%,100%{
    filter: hue-rotate(0deg);
  }
  50%{
    filter: hue-rotate(360deg);
  }
}
#progressbar:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,#008aff,#00ffe7);
  filter: blur(30px);
}
#progressbar:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,#008aff,#00ffe7);
  filter: blur(30px);
}
@media (max-width: 576px) {
  #form-wrap:after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    background: url('../img/after.png');
    background-repeat: no-repeat;
    background-size: 300px 300px;
    width: 530px;
    height: 259px;
  }
  #form-wrap:before{
    content: "";
    position: absolute;
    bottom: 128px;
    left: 0px;
    background: url('../img/before.png');
    background-repeat: no-repeat;
    background-size: 300px 300px;
    width:530px;
    height: 317px;
  }
  form{
    background: #f8f9fa;
    position: relative;
    top: 200px;
    overflow: hidden;n
    height: 200px;
    width: 280px;
    margin: 0px auto;
    padding: 20px;
    border: 1px dotted red;
    /* border-right: 3px; */
    text-align: center;
    transition: all 1s ease-in-out .3s;
  }
  #wrap{
    width: 300px;
    /* margin: 20px auto 0; */
    height: 750px;
  }
  .col1{
    margin-bottom: 530px;
  }
  #exclamation{
    margin-top: 40px;
    margin-left: 20px;
  }
  #para{
    margin-top: 100px;
  }
  #link{
    margin-top: 500px;
  }

}
