.icon-fixed{
  width:50px;
  height: 100px;
  position: fixed;
  right:1px;
  top:35%;
}
.icon-fixed i{
  display:block;
  text-align: center;
  font-size: xx-large;

}
.icon-fixed .fa-facebook{
  color:white;
  width: 50px;
 height: 40px;
padding-top:5px;
  background-color: blue;
 
}
.icon-fixed .fa-linkedin{
  color:white;
  width: 50px;
 height: 40px;
padding-top:5px;
 
  background-color: rgb(83, 133, 199);
 
}
.icon-fixed .fa-instagram{
  color:white;
   width: 50px;
 height: 40px;
padding-top:5px;
  text-align:center;
  background-color: rgb(250, 79, 145);

}
.icon-fixed .fa-twitter{
  color:white;
  width: 50px;
 height: 40px;
padding-top:5px;
  justify-content:center;
  background-color: #00acee;
  
}
.icon-fixed :hover {
background-color: black}
.icon-fixed a:hover {
background-color: black}