body,html{
  margin: 0px;
  padding: 0px;
  background-color: #f6f6f6;
}
/* #navbarNavAltMarkup{
  margin-left: 65%;
} */
/* testimonial */
.bodytest{
  background: linear-gradient(90deg,#255c68ba,#6ce1cbbd);
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
section{
  /* position: absolute; */
  top: 0;
  color: #fff;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
section:before{
  content: '';
  position: absolute;
  top: -30%;
  left: -8%;
  border-top: 100vh solid transparent;
  border-left: 100vh solid #fff;
  opacity: 0.1;
}
section:before{
  content: '';
  position: absolute;
  top: -30%;
  right: 0;
  border-top: 100vh solid transparent;
  border-right: 100vh solid #fff;
  opacity: 0.10;
}
#div{
  position: absolute;
  background: #fff;
  transform-style:preserve-3d;
  width: 150px;
  height: 100px;
  left: 100px;
  top: 200px;
  z-index: 99;
  animation-name: testanim;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#div:nth-child(1){
  left: 100px;
  width: 150px;
  height: 100px;
  animation-duration: 15s;
}
#div:nth-child(2){
  left: 300px;
  width: 80px;
  height: 60px;
  animation-duration: 10s;
}
#div:nth-child(3){
  left: 900px;
  width: 200px;
  height: 150px;
  animation-duration: 5s;
}
#div:nth-child(4){
  left: 500px;
  width: 80px;
  height: 50px;
  animation-duration: 15s;
}

#div:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
}
#div:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  background: #e2e2e2;
  transform: rotateY(90deg);
}
@keyframes testanim {
  0%{
    transform: rotateY(0deg) translateY(110vh);
  }
  100%{
    transform: rotateY(360deg) translateY(-20vh);
  }
}
/*  */
#linkd{
  border-bottom: 2px solid transparent;
}
#linkd:hover{
  border-bottom: 2px solid red;
}
.img{
  z-index: 1000;
}
#navanim{
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background: #052035;
  /* background-image: linear-gradient(#4500ca 4%,rgba(80,82,202,1) 50%),url(../images/divi/divi-gallery-hero-background.jpg),linear-gradient(60deg,#28005f 16%,#8300e5 64%,#0f3bff 100%); */
  /* background-image:linear-gradient(45deg,#fff,#f1f2fa); */
  /* box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); */
}
.header{

  height: 500px;
  background-image: url('../img/ap.jpg');
  /* background-image: linear-gradient(#4500ca 4%,rgba(69,0,202,0) 50%),url('img/header2.png'),linear-gradient(60deg,#28005f 16%,#8300e5 64%,#0f3bff 100%); */
  /* background-blend-mode:screen;  */
}
.bubbles img{
  width: 50px;
  opacity: 0;
  animation: bubble 7s linear infinite;
}
.bubbles img:nth-child(1){
  animation-delay: 6s;
  width: 20px;
}
.bubbles img:nth-child(2){
  animation-delay: 3s;
  width: 20px;
}
.bubbles img:nth-child(3){
  animation-delay: 0.4s;
  /* width: 30px; */
}
.bubbles img:nth-child(4){
  animation-delay: 2s;
  width: 15px;
}
.bubbles img:nth-child(5){
  animation-delay: 5s;
  width: 30px;
}
.bubbles img:nth-child(6){
  animation-delay: 4s;
}
.bubbles img:nth-child(7){
  animation-delay: 1s;
}
@keyframes bubble {
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
    /* transform: translateY(0); */
    opacity: 1;
    width: 30px;
  }
  70%{
    /* transform: translateY(0); */
    opacity: 1;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.bubbles{
  width: 100%;
  display: flex;
  /* overflow: hidden; */
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 80px;
  z-index: 99;
}
svg{
  /* background-image: linear-gradient(#4500ca 4%,rgba(69,0,202,0) 50%),url(../images/divi/divi-gallery-hero-background.jpg),linear-gradient(60deg,#28005f 16%,#8300e5 64%,#0f3bff 100%); */
  margin-top: 80px;
  /* z-index: 9999;
  overflow: hidden; */
  /* display: none; */
}
.circle-container{
   height: 300px;
   width: 300px;
   /* border: 2px solid grey; */
   position: absolute;
   margin:auto;
   padding-top: 5%;
   display: flex;
   /* align-items: center;
   justify-content: center; */
}
.circle{
  height: 300px;
  width: 300px;
  border: 5px solid #d3d3d3;
  border-radius: 50%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: rotate 5s infinite;
}
.circle>div{
  height: 300px;
  width: 300px;
  border: 5px solid #d3d3d3;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
}
.circle>div:nth-child(1){
  transform: rotateY(36deg);
}
.circle>div:nth-child(2){
  transform: rotateY(72deg);
}
.circle>div:nth-child(3){
  transform: rotateY(108deg);
}
.circle>div:nth-child(4){
  transform: rotateY(144deg);
}
@keyframes rotate {
  100%{
    transform: rotateY(360deg)
    rotateZ(360deg)
    ;
  }
}
.contentdata{
   height: 400px;
   overflow: hidden;
}
h3{
  width: 100%;
  margin-top: 100px;
  animation: type 5s infinite steps(44);
  overflow: hidden;
  white-space: nowrap;
  font-family: consolas;
  border-right: 1px solid white;
}
p{
  margin-top: 40px;
  padding: 0;
}
@keyframes type {
  0%{
    width: 0ch;
  }
  100%{
    width: 38ch;
  }
}
/* style demo */

/* <style style="text/css"> */
div.slide-left {
  width:80%;
  overflow:hidden;
}
div.slide-left p {
  animation: slide-left 40s;
}

@keyframes slide-left {
  from {
    margin-left: 80%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* </style> */

/* <div class="slide-left"> */
/* <p>CSS slide-in text...</p> */
/* </div> */
.services-text{
  height: 150px;
  text-align: center;
  padding: 5%;
}
.services-text h4{
  font-size: 40px;
  color: #3aaf9f;
  /* color: blue; */
}
/* @media (max-width: 320px) {
  h3{
    font-size: 15px;
  }
  h5{
    font-size: 10px;
  }
} */
::-webkit-scrollbar{
  width: 0;
}
#scrollPath{
  position: fixed;
  top: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}
#headtext{
  font-family: "Comic Sans MS", cursive,sans-serif;
}
#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 3px;
  height: 0%;
  background: linear-gradient(to top,#008aff,#00ffe7);
  animation: scroll 5s linear infinite;
}
@keyframes scroll {
  0%,100%{
    filter: hue-rotate(0deg);
  }
  50%{
    filter: hue-rotate(360deg);
  }
}
#progressbar:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,#008aff,#00ffe7);
  filter: blur(30px);
}
#progressbar:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,#008aff,#00ffe7);
  filter: blur(30px);
}
.whyus{
  background:linear-gradient(to top,#008aff40,#00ffe7a6);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
  margin-top:-100px;
}
#testimonial{
  background-color: #8aa1e226;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15)
}
#carouselExampleSlidesOnly{
  text-align: center;
}
footer{
  height: 350px;
  margin-top: 5%;
  margin-bottom:0;
  background-image:linear-gradient(90deg,#255c68,#052035);
  /* background-image: linear-gradient(#4500ca 4%,rgba(69,0,202,0) 50%),url('img/header2.png'),linear-gradient(60deg,#28005f 16%,#8300e5 64%,#0f3bff 100%); */
  box-shadow: 0px 0px 25px 0px rgba(98,208,191,1);
}
.socialicon{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 15px;
}
.socialicon i{
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: -3px -3px 5px 0px #ffffffa6,
              3px 3px 5px 0px #0000004a;
}
.socialicon i:hover{
  box-shadow: -3px -3px 5px 0px #ffffffa6 inset,
              3px 3px 5px 0px #0000004a inset;
}
#exclamation{
  /* margin-top:100px; */
  /* margin-left:30%; */
  color:blue;
  font-size: 30px;
  /* margin-left: 20px; */
}
#para{
  position: relative;
  top: 20%;
  /* position: fixed; */
  /* margin-top:10px;  */
}
#link{
  /* position: absolute; */
  /* top: 60%; */
  color:#3aaf9f;
  font-size:30px;
  text-decoration:none;
}
.svgcontainer{
  margin-top: -150px;
}
/* mobile view */
@media (max-width: 768px) {
  h3{
    font-size: 15px;
  }
  h5{
    font-size: 10px;
  }
  svg{
    margin-top: 200px;
  }
  .imgsvg1{
    width: 300px;
  }
  .imgsvg2{
    width: 300px;
  }
  .imgsvg3{
    width: 600px;
  }
  .svgcontainer{
    margin-top: 50px;
  }
  .whyus{
    margin-top: 10px;
  }
  .desighn{
    margin-top: 350px;
    margin-bottom: 50px;
    /* margin-left: 100px; */
    text-align: center;
  }
}



/*
demo */
