* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 25, 48);
} */

#text{
    height: 30vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text path:nth-child(1){
    stroke-dasharray: 1047px;
    stroke-dashoffset: 1047px;
    animation: line-animation ease forwards 1.2s, box-shadow 0.5s ease forwards 4.6s;
}

#text path:nth-child(2){
    stroke-dasharray: 1084px;
    stroke-dashoffset: 1084px;
    animation: line-animation ease forwards 1.5s 0.7s, box-shadow 0.5s ease forwards 4.6s;
}

#text path:nth-child(3){
    stroke-dasharray: 1046px;
    stroke-dashoffset: 1046px;
    animation: line-animation ease forwards 1.5s 1.7s, box-shadow 0.5s ease forwards 4.6s;
}

#text path:nth-child(4){
    stroke-dasharray: 790px;
    stroke-dashoffset: 790px;
    animation: line-animation ease forwards 1.5s 2.7s, box-shadow 0.7s ease forwards 4.6s;
}

@keyframes line-animation{
    from {
        stroke-dasharray: 500px;
        stroke-dashoffset: 100%;
    }
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes box-shadow{
    to
    {
        fill: white;
        stroke: none;
    }
}
.st0{display:none;}
.st1{display:inline;fill:#001745;}
.st2{display:inline;}
.st3{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
