$poppins: 'Poppins', sans-serif;
$background: #FAFAFC;
$shadow: 0 4px 12px -2px rgba(#6B75A1, .16);
$c-darkGray: #4a4a4e;
$ease: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

body {
   font-family: $poppins;
   color: $c-darkGray;
}

#navanim{
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background: #052035;
  /* background-image: linear-gradient(#4500ca 4%,rgba(80,82,202,1) 50%),url(../images/divi/divi-gallery-hero-background.jpg),linear-gradient(60deg,#28005f 16%,#8300e5 64%,#0f3bff 100%); */
  /* background-image:linear-gradient(45deg,#fff,#f1f2fa); */
  /* box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); */
}
