$poppins: 'Poppins', sans-serif;
$background: #FAFAFC;
$shadow: 0 4px 12px -2px rgba(#6B75A1, .16);
$c-darkGray: #4a4a4e;
$ease: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

body {
   font-family: $poppins;
   color: $c-darkGray;

}
.contact-nav{
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  height: 40px;
  background: #1d56a0;
  overflow: hidden;
}
.contact-nav p{
  display:inline-block;
  padding: 0;
  color:#fff;
  padding-left: 100px;
  /* position: fixed; */
  margin-top: -200px;
}
#navanim{
  position: fixed;
  z-index: 1;
  width: 100%;
  top:3%;
  background: #1a1a1a;
  overflow: hidden;
}

#linkd{
  border-bottom: 2px solid transparent;
}
#linkd:hover{
  border-bottom: 2px solid red;
}


footer{
  height: 350px;
  margin-top: 1%;
  margin-bottom:0;
  background-color: #1a1a1a;
  /* background-image:linear-gradient(90deg,#255c68,#052035); */
  /* background-image: linear-gradient(#4500ca 4%,rgba(69,0,202,0) 50%),url('img/header2.png'),linear-gradient(60deg,#28005f 16%,#8300e5 64%,#0f3bff 100%); */
  box-shadow: 0px 0px 25px 0px rgba(98,208,191,1);
}
.socialicon{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 15px;
}
.socialicon i{
  margin: 2%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: -3px -3px 5px 0px #ffffffa6,
              3px 3px 5px 0px #0000004a;
}
.socialicon i:hover{
  box-shadow: -3px -3px 5px 0px #ffffffa6 inset,
              3px 3px 5px 0px #0000004a inset;
}
@media (max-width: 768px) {
  footer{
    height: auto;
  }
  iframe{
    width: auto;
  }
  .contact-nav{
    height: 90px;
  }
  #navanim{
    top: 10%;
  }
  .contact-nav p{
    padding-left: 0;
  }
}